.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: static;
  margin-top: 15px;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  opacity: 1;
  background: var(--extra-light-gray);
  border-radius: 4px;
  transition: width 0.3s linear, background 0.3s linear, display 0.3s linear;
}
.swiper-pagination-bullet-active {
  background: var(--violet-light);
  width: 24px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  @media (max-width: 375px) {
    padding-inline: 20px;
  }
}
